* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  background: #0f0f1a;
  color: white;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #111;
}

.header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  text-align: center;
  padding: 80px 20px;
  background: linear-gradient(135deg, #6a00ff, #ff0077);
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
  background-color: black;
}

/* PLAN */
.plan {
  background: #1c1c2e;
  padding: 25px;
  border-radius: 10px;
  max-width: 500px;
  margin: auto;
}

.price {
  font-size: 24px;
  margin: 10px 0;
  color: #ffcc00;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* REVIEWS */
.review {
  background: #1c1c2e;
  padding: 20px;
  border-radius: 10px;
}

.review img {
  border-radius: 50%;
  margin-bottom: 10px;
}

/* FOOTER */
.footer {
  background: #111;
  padding: 40px 20px;
}

.footer-grid {
  top: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.copy {
  text-align: center;
  margin-top: 20px;
  opacity: 0.7;
}

/* RESPONSIVO */
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
}
